.button {
    border: none;
    border-radius: 5px;
    width: 130px;
    height: 36px;
    background: $main-color;
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 13px;
    font-weight: 500;

}