 .slogan {
    padding-bottom: 100px;
    &__wrapper {
        display: flex;
        justify-content: flex-end;
        margin-top: 100px;
    }
    &__title {
        color: #212121;
        font-size: 24px;
        font-weight: 500;
        text-align: left;
    }
    &__descr {
        margin-top: 12px;
        color: #C5C5C5;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
    }
    &__text {
        margin-top: 100px;
        margin-left: 107px;
    }
    &__img {
        margin-left: 70px;
        width: 460px;
        height: 407px;
    }
     
} 