@import 'base/variables';
@import 'base/animations';
@import 'base/media';

* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}
.container {
    position: relative;
    max-width: 950px; /*(это ширина 10-ти колонок в макете)*/
    margin: 0 auto;
}

@import 'blocks/promo'; /*из blocks берем promo*/
@import 'blocks/_header.scss';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/consultation';
@import 'blocks/title';
@import 'blocks/forms';
@import 'blocks/carousel';
@import 'blocks/catalog';
@import 'blocks/reviews';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'blocks/pageup';

