@keyframes heartbeat {
    from { //первый кадр (можно указать как 0%)
        transform: scale(1); //прописываем масштаб нашего сердца,чтобы размер поменялся
    }
    // 30% { - можем указывать что будет происходить на промежуточных этапах
    50% {
        transform: scale(1.5); //будет увеличиваться на 50 процентов
    }
    to { //второй кадр (можно указать как 100%)
        transform: scale(1); 
    }
}